Source: booster
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: 
 debhelper-compat (= 13), golang-go, ronn
Rules-Requires-Root: no

Package: booster
Architecture: linux-any
Depends: ${misc:Depends}
Provides: booster
Description: booster initramfs generation
