Source: booster
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: 
 debhelper-compat (= 13), golang-go, ronn, libdevmapper-dev
Rules-Requires-Root: no

Package: booster
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, libdevmapper-dev, libdevmapper-event1.02.1, libdevmapper1.02.1, busybox, console-data, lvm2, pciutils
Replaces: booster-temp
Conflicts: booster-temp
Description: booster initramfs generation

Package: booster-placeholder
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, libdevmapper-dev, libdevmapper-event1.02.1, libdevmapper1.02.1, busybox, pciutils
Provides: booster (= ${binary:Version})
Description: PLACEHOLDER FOR ISO BUILDS DO NOT USE.

Package: booster-temp
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}, libdevmapper-dev, libdevmapper-event1.02.1, libdevmapper1.02.1, busybox, pciutils
Provides: booster (= ${binary:Version})
Replaces: booster
Conflicts: booster
Description: PLACEHOLDER FOR ISO INSTALLS DO NOT USE.
